.swap-text {
  font-size: 15px;
  color: #555555;
}

.swap-img {
  width: 100%;
}

.swap-left-gold {
  width: 100%;
}

.swap-wallet-img {
  width: 100%;
}

.swap-span {
  font-size: 22px;
  color: #FAF28F;
}

.swap-span-text {
  font-size: 18px;
  color: #303030;
}

.wallet-background {
  background-image: url("./wallet1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.swap-right {
  border: 1px solid #272727;
  border-radius: 20px;
  background-color: #272727;
  padding: 15px 25px 15px 25px;
}

.hr-style {
  color: #FFFFAD;
}

.xmild-style {
  width: 3%;
  height: 2%;
}

.swap-right-text {
  font-size: 18px;
  color: #555555;
}

.swap-right-text1 {
  font-size: 18px;
  color: #FAF28F;
}

.swap-div-input-style {
  position: relative;
}

.swap-input_style {
  position: relative;
  background-color: #707070;
  border: 1px solid #707070;
  color: #242121;
  height: 2.5rem;
  width: 100%;
  display: flex;
  padding: 8px;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  outline: none;
  border-radius: 25px;
  appearance: none;
  font-size: 18px;
}